.emoji-list {
  overflow: hidden;
  width: 340px;
  height: 100px;
  background-color: pink;
}

.emoji-item {
  display: inline-block;
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding: 3px;
}

.emoji-item:hover {
  background-color: #f6f8f9;
}
